.text-field, .password-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #FF7043;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-pref-width: 300px;
    -fx-background-insets: 0;
}

/* Đã thay đổi màu hover của nút thành cam đậm hơn */
.button:hover {
    -fx-background-color: #F4511E; /* Cam đậm hơn */
}

#backToLoginButton:hover{
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
}

#registerButton:hover{
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
}

#choosePhoto:hover{
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
}

.button {
    -fx-background-color: #FF7043; /* Màu cam */
    -fx-text-fill: #FFFFFF;      /* Chữ màu trắng */
    -fx-font-size: 14px;
    -fx-border-radius: 8px;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 1);
    -fx-background-insets: 0;
    -fx-background-radius: 8px;
}

.grid-pane {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-alignment: center;
    -fx-padding: 20px;
}

.row-constrains {
    -fx-vgap: 10px;
}

/* Đã thêm viền màu cam cho label */
.label {
    -fx-font-size: 16px;
    -fx-font-weight: normal;
    -fx-text-fill: #333333;
    -fx-background-insets: 0;
    -fx-background-radius: 10px;
    -fx-border-color: #FF7043; /* Viền màu cam */
    -fx-border-width: 1px;     /* Độ dày viền */
    -fx-border-radius: 10px;   /* Bo góc viền */
    -fx-padding: 2px 5px;      /* Thêm padding để viền không bị sát chữ */
}